<header class="main-header">

    <!-- Logo -->
    <a class="logo ">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>C</b>OP</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Credi</b> Óptica </span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" style="
    box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22)!important;">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle waves-effect waves-light" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu" style="margin-left: auto!important;display: flex;">
            <ul class="nav navbar-nav" style="flex-direction: row;margin-left: auto!important;">
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="assets/images/images-user.jpg" class="user-image" alt="User Image">
                        <span class="hidden-xs">{{ _userService.user._Usuario }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="assets/images/images-user.jpg" class="img-circle" alt="User Image">

                            <p>
                                {{ _userService.user.Nombre }}
                                <!-- <small>Member since Nov. 2012</small> -->
                            </p>
                        </li>
                        <!-- Menu Body -->
                        <li class="user-body">
                            <div class="row">
                                <!-- <div class="col-xs-4 text-center">
                                    <a href="#">Followers</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">Sales</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">Friends</a>
                                </div> -->
                            </div>
                            <!-- /.row -->
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <!-- <a class="btn btn-default btn-flat">Perfil</a> -->
                            </div>
                            <div class="pull-right">
                                <a (click)="_userService.logout()" class="btn btn-default btn-flat">Salir</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </nav>
</header>