<section class="content-header">
  <h1>
    Lista Contratos
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
    <li><a href="#">Lista Contratos</a></li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Lista contratos</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label class="font-weight-bold">Cliente</label>
                <ng-select name="clientes" (change)="getContratos()" [items]="clientes" [hideSelected]="true" bindLabel="Nombre" bindValue="ID" [searchable]="true" placeholder="Seleccionar almacen..." [(ngModel)]="idCliente">
                </ng-select>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="font-weight-bold">Status</label>
                <ng-select name="status" [items]="status" [hideSelected]="true" [searchable]="true" placeholder="Seleccionar status..." [(ngModel)]="status">
                </ng-select>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="font-weight-bold">Contrato</label>
                <ng-select name="status" [disabled]="!idCliente" [items]="contratos" [hideSelected]="true" bindLabel="ClaveContrato" bindValue="ID" [searchable]="true" placeholder="Seleccionar forma de pago..." [(ngModel)]="idContrato">
                </ng-select>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group text-right">
                <br>
                <button type="button" class="btn btn-success waves-effect waves-light m-r-5 m-t-5" (click)="setContrato()">
                  <i class="fa fa-search "></i> <span> Buscar</span> </button>
              </div>
            </div>
          </div>

          <div class="row mt-5">
            <div class="col" *ngIf="contratoSelect">
              <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                  <div class="form-group">
                    <label for="nombre">Contrato</label>
                    <input type="text" class="form-control" placeholder="Contrato" [(ngModel)]="model.ID" [ngModelOptions]="{standalone: true}" disabled>
                  </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                  <div class="form-group">
                    <label for="basic_checkbox_2">Folio alterno</label>
                    <input type="text" class="form-control" [(ngModel)]="model.Clave" [ngModelOptions]="{standalone: true}" disabled>
                  </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                  <div class="form-group">
                    <label for="nombre">Fecha</label>
                    <input type="text" class="form-control" placeholder="Fecha" [(ngModel)]="fec" [ngModelOptions]="{standalone: true}" disabled>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                  <div class="form-group">
                    <label class="font-weight-bold">Sucursal</label>
                    <input type="text" class="form-control" placeholder="Sucursal" [(ngModel)]="sucursal" [ngModelOptions]="{standalone: true}" disabled>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                  <div class="form-group">
                    <label for="status">Status</label>
                    <input type="text" value="Vigente" name="status" class="form-control" disabled>
                  </div>
                </div>
              </div>

              <div class="row my-2">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <div class="form-group">
                    <label class="font-weight-bold">Frecuencia del pago</label>
                    <input type="text" class="form-control" [(ngModel)]="frecuencia" [ngModelOptions]="{standalone: true}" disabled>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <div class="form-group">
                    <label for="basic_checkbox_2">Periodos</label>
                    <input type="number" class="form-control" [(ngModel)]="model.Plazo" [ngModelOptions]="{standalone: true}" disabled>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <div class="form-group">
                    <label class="font-weight-bold">Dias de la semana</label>
                    <input type="text" class="form-control" [(ngModel)]="dia" [ngModelOptions]="{standalone: true}" disabled>
                  </div>
                </div>
              </div>

              <div class="row my-2">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mt-4">
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label  class="font-weight-bold">Anticipo</label>
                        <input type="text" class="form-control"  [(ngModel)]="model.anticipo" [ngModelOptions]="{standalone: true}" disabled>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mt-4">
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label>Fecha contraentrega</label>
                        <input type="text" class="form-control" placeholder="dd/mm/aaaa" [(ngModel)]="fecContraEntrega" [ngModelOptions]="{standalone: true}" disabled>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                      <div class="form-group">
                        <label for="nombre">Fecha inicial</label>
                        <input type="text" class="form-control" [(ngModel)]="fecInicial" [ngModelOptions]="{standalone: true}" disabled>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                      <div class="form-group">
                        <label for="basic_checkbox_2">Total</label>
                        <input type="text" class="form-control" [(ngModel)]="model.Total" [ngModelOptions]="{standalone: true}" disabled>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mt-5 d-flex ">
                <div class="col d-flex justify-content-end">
                  <div class="form-group">
                    <button type="button" class="btn btn-primary m-5" (click)="onShow(template)" >Realizar Pago</button>
                    <button type="button" class="btn btn-warning m-5" >Reprocesar Pagos</button>
                    <button type="button" class="btn btn-danger m-5" >Eliminar Contrato</button>
                  </div>
                </div>
                
              </div>

              <div class="row">
                <div class="col">
                 <app-tabs [tabs]="tabs" (selectedTab)="onTabSelected($event)"></app-tabs>
                 <div class="row">
                   <div class="col" *ngIf="selectedTab === 'Corrida Original'">
                     <div class="row my-5">
                       <div class="col">
                         <table class="table table-bordered table-hover">
                           <thead>
                             <tr>
                               <th>Fecha venc.</th>
                               <th>Descripcion</th>
                               <th>Importe</th>
                               <th>Saldo</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr *ngFor="let item of corridaOriginal; let i=index;">
                               <td>{{ item.fecha | date: 'dd-MM-yyyy' }}</td>
                               <td>{{ item.Descripcion }}</td>
                               <td>{{ item.importe }}</td>
                               <td>{{ item.Saldo }}</td>
                             </tr>
                           </tbody>
                           <tfoot>
                           </tfoot>
                         </table>
                       </div>
                     </div>
                   </div>
                   <div class="col" *ngIf="selectedTab === 'Edo. Cuenta'">
                    <div class="row my-5">
                      <div class="col">
                        <table class="table table-bordered table-hover">
                          <thead>
                            <tr>
                              <th>Fecha venc.</th>
                              <th>Descripcion</th>
                              <th>Importe total</th>
                              <th>Importe pagado</th>
                              <th>Importe restante</th>
                              <th>Status</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of estadoCuenta; let i=index;">
                              <td>{{ item.fecha | date: 'dd-MM-yyyy' }}</td>
                              <td>{{ item.Descripcion }}</td>
                              <td>{{ item.importeTotal }}</td>
                              <td>{{ item.importePagado }}</td>
                              <td>{{ item.resta }}</td>
                              <td>{{ getEstadoDesc(item.Status) }}</td>
                            </tr>
                          </tbody>
                          <tfoot>
                          </tfoot>
                        </table>
                      </div>
                    </div>
                   </div>
                   <div class="col" *ngIf="selectedTab === 'Pagos'">
                    <div class="row my-5">
                      <div class="col">
                        <table class="table table-bordered table-hover">
                          <thead>
                            <tr>
                              <th>ID Pago</th>
                              <th>Fecha</th>
                              <th>Forma pago</th>
                              <th>Lugar</th>
                              <th>Importe</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of pagos; let i=index;">
                              <td>{{ item.ID }}</td>
                              <td>{{ item.Fecha | date: 'dd-MM-yyyy' }}</td>
                              <td>{{ obtenerDescripcionFormaDePago(item.FormaPago) }}</td>
                              <td>{{ item.Lugar}}</td>
                              <td>{{ item.Importe }}</td>
                            </tr>
                          </tbody>
                          <tfoot>
                          </tfoot>
                        </table>
                      </div>
                    </div>
                   </div>
                   <div class="col" *ngIf="selectedTab === 'Detalle Pagos'">
                    <div class="row my-5">
                      <div class="col">
                        <table class="table table-bordered table-hover">
                          <thead>
                            <tr>
                              <th>Fecha</th>
                              <th>Descripcion</th>
                              <th>Imp. pagare</th>
                              <th>Imp. Gasto</th>
                              <th>Importe total</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of detallePagos; let i=index;">
                              <td>{{ item.Fecha | date: 'dd-MM-yyyy' }}</td>
                              <td>{{ item.Descripcion }}</td>
                              <td>{{ item.ImporteOriginal }}</td>
                              <td>{{ item.ImporteGasto }}</td>
                              <td>{{ item.Importe }}</td>
                            </tr>
                          </tbody>
                          <tfoot>
                          </tfoot>
                        </table>
                      </div>
                    </div>
                   </div>
                 </div>
                </div>
             </div>
             
            </div>
          </div>


        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>

<ng-template #template>
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm, $event)" novalidate>
      <div class="modal-header modal-info-custom">
          <h4 class="modal-title pull-left">Pago</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="form-group">
                      <label for="nombre">Fecha</label>
                      <input #Fecha="ngModel" type="date" class="form-control" placeholder="Fecha" [(ngModel)]="modelPago.Fecha" [ngModelOptions]="{standalone: true}"
                              [ngClass]="{'form-control-danger': Fecha.invalid && (Fecha.dirty || Fecha.touched || (userForm.submitted && !userForm.valid)),'form-control-success': Fecha.valid && (Fecha.dirty || Fecha.touched)}" required>
                    </div>
                    <div *ngIf="Fecha.invalid && (Fecha.dirty || Fecha.touched || userForm.submitted)" class="w-100" style="margin-top: -10px; margin-bottom: 1rem">
                        <span class="messages" *ngIf="Fecha.errors">
                                        <small class="text-danger error">Fecha es requerido.</small>
                                </span>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                      <div class="form-group">
                        <label class="font-weight-bold">Cliente</label>
                          <ng-select name="almacen" (change)="clienteSelect()"  [items]="clientes" [hideSelected]="true" bindLabel="Nombre" bindValue="ID" [searchable]="true" placeholder="Seleccionar cliente..." [(ngModel)]="modelPago.Usuario">
                          </ng-select>
                      </div>
                  </div>
                  
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                      <label class="font-weight-bold">Contrato</label>
                        <ng-select name="contrato" (change)="getPagos()" [disabled]="!modelPago.Usuario"  [items]="contratos" [hideSelected]="true" bindLabel="ClaveContrato" bindValue="ID" [searchable]="true" placeholder="Seleccionar contrato..." [(ngModel)]="modelPago.ID_Contrato">
                        </ng-select>
                    </div>
              </div>
          </div>
          <div class="row">
              
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="form-group">
                  <label class="font-weight-bold">Forma de pago</label>
                    <ng-select name="almacen" [items]="formasPago" [hideSelected]="true" bindLabel="Descripcion" bindValue="ID" [searchable]="true" placeholder="Seleccionar forma de pago..." [(ngModel)]="modelPago.FormaPago">
                    </ng-select>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                  <div class="form-group">
                    <label for="nombre">Saldo</label>
                    <input [min]="1" #cantidadProd="ngModel" type="number" class="form-control" placeholder="Saldo" [(ngModel)]="modelPago.Importe" [ngModelOptions]="{standalone: true}" disabled required>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                <div class="row">
                  <div class="col d-flex justify-content-center align-items-center">
                    <div class="form-group">
                      <input type="checkbox" id="basic_checkbox_4" class="filled-in" checked="false" [(ngModel)]="liquidarContratoDisabled" [ngModelOptions]="{standalone: true}" >
                      <label for="basic_checkbox_4" style="font-size: 10px;">Liquidar Contado</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col d-flex justify-content-center align-items-center">
                    <div class="form-group">
                      <input class="form-group" type="text" [disabled]="!liquidarContratoDisabled">
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="form-group">
                <label for="nombre">Importe sugerido</label>
                <input [min]="1" #cantidadProd="ngModel" type="number" class="form-control" placeholder="Cantidad" [(ngModel)]="importesugerido" [ngModelOptions]="{standalone: true}" disabled required>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="form-group">
                <label for="nombre">Importe pago</label>
                <input [min]="1" #cantidadProd="ngModel" type="number" class="form-control" placeholder="Cantidad" [(ngModel)]="model.Importe" [ngModelOptions]="{standalone: true}" (change)="onCantidadChanged($event)" required>
              </div>
            </div>
          </div>
      
          <div class="row mt-5">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group">
                      <button type="button" class="btn btn-primary" (click)="aplicarImporte()">Aplicar</button>
                  </div>
              </div>
          </div>
      <div class="row mt-2">
          <div class="col">
              <table class="table table-bordered table-hover">
                  <thead>
                      <tr>
                          <th>ID</th>
                          <th>Descripcion</th>
                          <th>Vence</th>
                          <th>Imp. Restante</th>
                          <th>Gasto</th>
                          <th>Total</th>
                          <th>Resto</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of pagos; let i=index;">
                          <td>{{ item.ID }}</td>
                          <td>{{ item.Descripcion }}</td>
                          <td>{{ item.fecha | date: 'dd-MM-yyyy' }}</td>
                          <td>{{ item.importeTotal - item.importePagado }}</td>
                          <td>{{ item.gastoCobranza }}</td>
                          <td>{{ item.importeTotal }}</td>
                          <td>{{ item.resta }}</td>
                      </tr>
                  </tbody>
                  <tfoot>
                  </tfoot>
              </table>
          </div>
      </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" (click)="modalRef.hide()">Cerrar</button>
        <button type="submit" class="btn btn-primary" >Guardar Cambios</button>
    </div>
</form>
</ng-template>