<section class="content-header">
    <h1>
        Modelos
        <small>módulo de registro y edición de modelos</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li class="active">Modelos</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Lista de Modelos</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Descripción</label>
                                <div>
                                    <div class="input-group">
                                        <input type="text" class="form-control" [(ngModel)]="modelFilter" [ngModelOptions]="{standalone: true}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="form-group text-right">
                                <br>
                                <button type="button" class="btn btn-success waves-effect waves-light m-r-5 m-t-5" (click)="onBuscar()"> <i class="fa fa-search "></i> <span> Buscar</span> </button>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Folio</th>
                                <th>Descripción</th>
                                <th>
                                    <div class="row">
                                        <div class="col mt-2">
                                            Acciones
                                        </div>
                                        <div class="col">
                                            <button type="button" class="btn btn-primary float-right waves-effect waves-light" (click)="onShow(0, template)"> <i class="fa fa-plus-circle m-r-5"></i> <span>Nuevo</span> </button>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of lista; let i=index;">
                                <td>{{ item.ID }}</td>
                                <td>{{ item.Descripcion }}</td>
                                <td>
                                    <button type="button" class="btn btn-warning btn-xs m-lg-1" (click)="onShow(item.ID, template)"><i class="fa fa-edit"></i> Editar</button>
                                    <button type="button" class="btn btn-danger btn-xs m-lg-1" (click)="onDelete(item.ID)"><i class="fa fa-trash"></i> Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

<ng-template #template>
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm, $event)" novalidate>
        <div class="modal-header modal-info-custom">
            <h4 class="modal-title pull-left">Modelos</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <div class="form-group">
                        <label for="nombre">Folio</label>
                        <input type="text" class="form-control" placeholder="Folio" [(ngModel)]="model.ID" [ngModelOptions]="{standalone: true}" disabled>
                    </div>
                </div>
                <div class="col">
                    <div class="switch pull-right">
                        <label>Inactivo
                            <input type="checkbox" checked="" [(ngModel)]="model.Estatus" [ngModelOptions]="{standalone: true}"><span class="lever switch-col-light-blue"></span>Activo</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <div class="form-group">
                            <label>Descripción <span class="text-danger">*</span></label>
                            <input name="Descripcion" #Descripcion="ngModel" type="text" class="form-control" placeholder="Nombre" [(ngModel)]="model.Descripcion" [ngClass]="{'form-control-danger': Descripcion.invalid && (Descripcion.dirty || Descripcion.touched || (userForm.submitted && !userForm.valid)),
                                'form-control-success': Descripcion.valid && (Descripcion.dirty || Descripcion.touched)}" required>
                        </div>
                        <div *ngIf="Descripcion.invalid && (Descripcion.dirty || Descripcion.touched || userForm.submitted)" class="w-100" style="margin-top: -10px; margin-bottom: 1rem">
                            <span class="messages" *ngIf="Descripcion.errors">
                                              <small class="text-danger error">Descripción es requerido.</small>
                                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="font-weight-bold">Marca <span class="text-danger">*</span></label>
                        <ng-select name="marca" [items]="marcas" [hideSelected]="true" bindLabel="Descripcion" bindValue="ID" [searchable]="true" placeholder="Seleccionar Marca..." [(ngModel)]="model.ID_Marca" #marca="ngModel" [ngClass]="{'form-control-danger': marca.invalid && (marca.dirty || marca.touched || userForm.submitted)}"
                            required>
                        </ng-select>
                    </div>
                    <div *ngIf="marca.invalid && (marca.dirty || marca.touched || userForm.submitted)" class="w-100" style="margin-top: -10px; margin-bottom: 1rem">
                        <span class="messages" *ngIf="marca.errors">
                                                <small class="text-danger error">Marca es requerido.</small>
                                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" (click)="modalRef.hide()">Cerrar</button>
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </div>
    </form>
</ng-template>