<section class="content-header">
  <h1>
      Nuevo contrato
      <small>módulo de registro y edición de contrato</small>
    </h1>
  <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
      <li><a href="#">Contrato</a></li>
  </ol>
</section>

<section class="content">
  <div class="row">
      <div class="col-xs-12">
          <div class="box">
              <div class="box-header">
                  <h3 class="box-title">Nuevo contratos</h3>
              </div>
              <!-- /.box-header -->
            <div class="box-body">
                <form #contratosFrom="ngForm" (ngSubmit)="onSubmit(contratosFrom)" novalidate>
                    <div class="row">
                         <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="form-group">
                                 <label for="nombre">Contrato</label>
                                <input type="text" class="form-control" placeholder="Contrato" [(ngModel)]="model.ID" [ngModelOptions]="{standalone: true}" disabled>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <label for="nombre">Fecha</label>
                                <input #Fecha="ngModel" type="date" class="form-control" placeholder="Fecha" [(ngModel)]="model.Fecha" [ngModelOptions]="{standalone: true}" 
                                       [ngClass]="{'form-control-danger': Fecha.invalid && (Fecha.dirty || Fecha.touched || (contratosFrom.submitted && !contratosFrom.valid)),
                                                 'form-control-success': Fecha.valid && (Fecha.dirty || Fecha.touched)}" required>
                            </div>
                            <div *ngIf="Fecha.invalid && (Fecha.dirty || Fecha.touched || contratosFrom.submitted)" class="w-100" style="margin-top: -10px; margin-bottom: 1rem">
                                <span class="messages" *ngIf="Fecha.errors">
                                    <small class="text-danger error">Fecha es requerido.</small>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <label class="font-weight-bold">Sucursal<span class="text-danger">*</span></label>
                                <ng-select (ngModelChange)="setAlamacenes($event)" name="Sucursal" bindLabel="Nombre" bindValue="ID"  [items]="sucursales" [hideSelected]="true" [searchable]="true" placeholder="Seleccionar Sucursal..." 
                                           [(ngModel)]="model.ID_Sucursal" #Sucursal="ngModel" 
                                           [ngClass]="{'form-control-danger': Sucursal.invalid && (Sucursal.dirty || Sucursal.touched || contratosFrom.submitted)}" required>
                                </ng-select>
                            </div>
                            <div *ngIf="Sucursal.invalid && (Sucursal.dirty || Sucursal.touched || contratosFrom.submitted)" class="w-100" style="margin-top: -10px; margin-bottom: 1rem">
                                <span class="messages" *ngIf="Sucursal.errors">
                                    <small class="text-danger error">Sucursal es requerida.</small>
                                </span>
                            </div>

                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <label class="font-weight-bold">Almacen<span class="text-danger">*</span></label>
                                <ng-select [disabled]="!model.ID_Sucursal" name="Almacen" bindLabel="Nombre" bindValue="ID"  [items]="almacenes" [hideSelected]="true" [searchable]="true" placeholder="Seleccionar Almacen..." 
                                           [(ngModel)]="model.ID_Almacen" #Almacen="ngModel" 
                                           [ngClass]="{'form-control-danger': Sucursal.invalid && (Sucursal.dirty || Sucursal.touched || contratosFrom.submitted)}" required>
                                </ng-select>
                            </div>
                            <div *ngIf="Sucursal.invalid && (Sucursal.dirty || Sucursal.touched || contratosFrom.submitted)" class="w-100" style="margin-top: -10px; margin-bottom: 1rem">
                                <span class="messages" *ngIf="Sucursal.errors">
                                    <small class="text-danger error">Sucursal es requerida.</small>
                                </span>
                            </div>

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                          <div class="form-group">
                            <label for="basic_checkbox_2" >Folio alterno</label>
                            <input type="text" class="form-control"  [(ngModel)]="model.Clave" [ngModelOptions]="{standalone: true}" >
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <label for="status">Status</label>
                                <input type="text" value="Vigente" name="status" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="font-weight-bold">Clientes<span class="text-danger">*</span></label>
                                <ng-select [disabled]="detallesActives"  (ngModelChange)="($event != null) ? this.clienteDisabled = false : this.clienteDisabled = true" name="Clientes" bindLabel="Nombre" bindValue="ID"  [items]="clientes" [hideSelected]="true" [searchable]="true" placeholder="Seleccionar Cliente..." 
                                           [(ngModel)]="model.ID_Cliente" #Clientes="ngModel" 
                                           [ngClass]="{'form-control-danger': Clientes.invalid && (Clientes.dirty || Clientes.touched || contratosFrom.submitted)}" required>
                                </ng-select>
                            </div>
                            <div *ngIf="Clientes.invalid && (Clientes.dirty || Clientes.touched || contratosFrom.submitted)" class="w-100" style="margin-top: -10px; margin-bottom: 1rem">
                                <span class="messages" *ngIf="Clientes.errors">
                                    <small class="text-danger error">Clientes es requerido.</small>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" (click)="onShowNewProduct(templateProd)" [disabled]="clienteDisabled">Agregar Detalle</button>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-5">
                        <div class="col">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Clave</th>
                                        <th>Descripcion</th>
                                        <th>Paciente</th>
                                        <th>P. Credito</th>
                                        <th>P. Contado</th>
                                        <th>Cantidad</th>
                                        <th>Venta</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of detalles; let i=index;">
                                        <td>{{ item.Clave }}</td>
                                        <td>{{ item.Descripcion }}</td>
                                        <td>{{ item.Paciente }}</td>
                                        <td>{{ item.PCredito }}</td>
                                        <td>{{ item.Precio }}</td>
                                        <td>{{ item.Cantidad }}</td>
                                        <td>{{ item.VentaDetalle }}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <div class="row my-2">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label class="font-weight-bold">Frecuencia del pago<span class="text-danger">*</span></label>
                                <ng-select name="Frecuencia" [items]="frecuenciasPagos" [hideSelected]="true" [searchable]="true" placeholder="Seleccionar Dia de la semana..." 
                                           [(ngModel)]="frecuanciaSelect" #Frecuencia="ngModel" (change)="onFrecuenciaChange()" 
                                           [ngClass]="{'form-control-danger': Frecuencia.invalid && (Frecuencia.dirty || Frecuencia.touched || contratosFrom.submitted)}" required>
                                </ng-select>
                            </div>
                            <div *ngIf="Frecuencia.invalid && (Frecuencia.dirty || Frecuencia.touched || contratosFrom.submitted)" class="w-100" style="margin-top: -10px; margin-bottom: 1rem">
                                <span class="messages" *ngIf="Frecuencia.errors">
                                    <small class="text-danger error">Frecuencia del pago es requerido.</small>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="basic_checkbox_2" >Periodos</label>
                                <input type="number" (change)="handlePeriodos()" (input)="calcularTotal()" class="form-control"  [(ngModel)]="model.Plazo" [ngModelOptions]="{standalone: true}" (input)="limitInput($event)">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label class="font-weight-bold">Dias de la semana <span class="text-danger">*</span></label>
                                <ng-select name="diasSemana" [items]="DiasSemana" [hideSelected]="true" [searchable]="true" placeholder="Seleccionar Dia de la semana..." 
                                           [(ngModel)]="diaSemanaSelect" #diasSemana="ngModel" (change)="onDiaSemanaChange()" [disabled]="diaSemanaDisabled" 
                                           [ngClass]="{'form-control-danger': diasSemana.invalid && (diasSemana.dirty || diasSemana.touched || contratosFrom.submitted)}" required>
                                </ng-select>
                            </div>
                            <div *ngIf="diasSemana.invalid && (diasSemana.dirty || diasSemana.touched || contratosFrom.submitted)" class="w-100" style="margin-top: -10px; margin-bottom: 1rem">
                                <span class="messages" *ngIf="diasSemana.errors">
                                    <small class="text-danger error">Dia de la semana es requerido.</small>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row my-2">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mt-4">
                            <div class="row justify-content-center">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="checkbox" id="basic_checkbox_2" class="filled-in" checked="false" [(ngModel)]="anticipoDisabled" [ngModelOptions]="{standalone: true}">
                                        <label for="basic_checkbox_2" style="font-size: 10px;">Anticipo</label>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <br>
                                        <input (input)="calcularTotal()" type="number" class="form-control"  [(ngModel)]="model.Anticipo" [ngModelOptions]="{standalone: true}" [disabled]="!anticipoDisabled">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mt-4">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="checkbox" id="basic_checkbox_4" class="filled-in" checked="false" [(ngModel)]="contraEntregaDisabled" [ngModelOptions]="{standalone: true}" >
                                        <label for="basic_checkbox_4" style="font-size: 10px;">Contraentrega</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label >Fecha contraentrega</label>
                                        <input [disabled]="!contraEntregaDisabled" type="date" class="form-control" placeholder="Fecha" [(ngModel)]="model.fechaEspEnt" [ngModelOptions]="{standalone: true}" required>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <input type="checkbox" id="basic_checkbox_5" class="filled-in" checked="false" [(ngModel)]="gastoCobroDisabled" [ngModelOptions]="{standalone: true}" >
                                        <label for="basic_checkbox_5">Gasto Cobro</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input (input)="calcularTotal()" type="number" class="form-control"  [(ngModel)]="model.Contraentrega" [ngModelOptions]="{standalone: true}" [disabled]="!contraEntregaDisabled">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="nombre">Fecha inicial</label>
                                        <input #FechaInicial="ngModel" (change)="handlePeriodos()" type="date" class="form-control" placeholder="Fecha" [(ngModel)]="model.fechaInicial" [ngModelOptions]="{standalone: true}" 
                                               [ngClass]="{'form-control-danger': FechaInicial.invalid && (FechaInicial.dirty || FechaInicial.touched || (contratosFrom.submitted && !contratosFrom.valid)),
                                                         'form-control-success': FechaInicial.valid && (FechaInicial.dirty || FechaInicial.touched)}" required>
                                    </div>
                                    <div *ngIf="FechaInicial.invalid && (FechaInicial.dirty || FechaInicial.touched || contratosFrom.submitted)" class="w-100" style="margin-top: -10px; margin-bottom: 1rem">
                                        <span class="messages" *ngIf="FechaInicial.errors">
                                            <small class="text-danger error">Fecha Inicial es requerido.</small>
                                        </span>
                                    </div>

                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="basic_checkbox_2" >Importe prestamo</label>
                                        <input type="number" min="100" step="100" class="form-control"  [(ngModel)]="model.ImportePrestamo" [ngModelOptions]="{standalone: true}" disabled>
                                    </div>
                                </div>
                            </div>
        
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="basic_checkbox_2" >Importe del pago</label>
                                        <input type="text" class="form-control"  [(ngModel)]="model.ImportePago" [ngModelOptions]="{standalone: true}" disabled>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="basic_checkbox_2" >Total</label>
                                        <input type="text" class="form-control"  [(ngModel)]="model.Total" [ngModelOptions]="{standalone: true}" disabled>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" (click)="calcularCorrido(contratosFrom)">Calcular</button>
                            </div>
                        </div>
                    </div>      

                    <div class="row mt-2">
                        <div class="col">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Dia</th>
                                        <th>Importe</th>
                                        <th>Saldo</th>
                                        <th>Descripcion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of corrido; let i=index;">
                                        <td>{{ item.Fecha }}</td>
                                        <td>{{ item.Importe }}</td>
                                        <td>{{ item.Saldo }}</td>
                                        <td>{{ item.Descripcion }}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    
                    <!-- <div class="row my-2">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="basic_checkbox_2" >Importe prestado</label>
                                <input type="text" class="form-control"  [(ngModel)]="model.ID" [ngModelOptions]="{standalone: true}" >
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                            <label for="basic_checkbox_2" >Periodos</label>
                            <input type="text" class="form-control"  [(ngModel)]="model.ID" [ngModelOptions]="{standalone: true}" >
                            </div>
                        </div> 
                    </div>

                    <div class="row my-2">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                          
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            
                        </div>
                     </div>

                     <div class="row my-2">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                          
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="basic_checkbox_2" >Dia de la semana</label>
                                <input type="text" class="form-control"  [(ngModel)]="model.ID" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                    </div>

                    

                    <div class="row mt-2">
                        <div class="col">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Dia</th>
                                        <th>Importe</th>
                                        <th>Saldo</th>
                                        <th>Descripcion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of productos; let i=index;">
                                        <td>{{ item.ID }}</td>
                                        <td>{{ item.Descripcion }}</td>
                                        <td>{{ item.Cantidad }}</td>
                                        <td>{{ item.CostoTotal }}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col d-flex justify-content-end">
                            <button type="submit" class="btn btn-success">Aceptar</button>
                        </div>
                    </div>
                </form>
            </div>
              <!-- /.box-body -->
          </div>
          <!-- /.box -->
      </div>
      <!-- /.col -->
  </div>
  <!-- /.row -->
</section>

<ng-template #templateProd>
  <form #productForm="ngForm" (ngSubmit)="onSubmitDetalle(productForm, $event)" novalidate>
      <div class="modal-header modal-info-custom">
          <h4 class="modal-title pull-left">Agregar Detalle</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefProd.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <div class="row justify-content-center">
          <div class="col">
              <div class="form-group">
                  <label>Paciente <span class="text-danger">*</span></label>
                  <ng-select (ngModelChange)="newPaciente($event)" name="producto" [items]="pacientes" [hideSelected]="true" bindLabel="Nombre" bindValue="ID" [searchable]="true" placeholder="Seleccionar Paciente..." [(ngModel)]="modelProducto.ID_Paciente" #producto="ngModel" required></ng-select>
              </div>
          </div>
      </div>
          <div class="row justify-content-center">
              <div class="col">
                  <div class="form-group">
                      <label>Producto <span class="text-danger">*</span></label>
                      <ng-select (ngModelChange)="newProducto($event)" name="producto" [items]="productos" [hideSelected]="true" bindLabel="Descripcion" bindValue="ID" [searchable]="true" placeholder="Seleccionar Producto..." [(ngModel)]="modelProducto.Producto" #producto="ngModel" required></ng-select>
                  </div>
              </div>
          </div>
          <div class="row justify-content-center">
            <div class="col">
                <div class="form-group">
                    <label>Cantidad <span class="text-danger">*</span></label>
                    <input type="number" class="form-control" (change)="handelCantidad()" [(ngModel)]="modelProducto.Cantidad" [ngModelOptions]="{standalone: true}" placeholder="Cantidad....">
                </div>
            </div>
        </div>
          <div class="row justify-content-center">
            <div class="col">
                <div class="form-group">
                    <label>Diagnostico <span class="text-danger">*</span></label>
                    <ng-select name="diagnosticos" [items]="diagnosticos" [hideSelected]="true" bindLabel="Diagnosticotxt" bindValue="ID" [searchable]="true" placeholder="Seleccionar Diagnostico..." [(ngModel)]="modelProducto.ID_Diagnostico" #diagnostico="ngModel" required [disabled]="diagnosticoDisabled"></ng-select>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
          <div class="col">
            <div class="form-group">
              <label for="nombre">Observaciones</label>
              <textarea name="observaciones" #observaciones="ngModel" rows="5" class="form-control" placeholder="Observaciones..." [(ngModel)]="model.Observaciones"></textarea>
           </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col">
            <div class="form-group">
              <label for="basic_checkbox_2" >Precio contado</label>
              <input type="text" class="form-control"  [(ngModel)]="modelProducto.Precio" [ngModelOptions]="{standalone: true}" placeholder="Precio Contado..." disabled>
            </div>
              
          </div>
      </div>
      <div class="row justify-content-center">
        <div class="col">
          <div class="form-group">
            <label for="basic_checkbox_2" >Precio credito</label>
            <input type="text" class="form-control"  [(ngModel)]="modelProducto.PCredito" [ngModelOptions]="{standalone: true}" placeholder="Precio Credito..." disabled>
          </div>
            
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
          <div class="form-group">
            <label for="basic_checkbox_2" >Venta</label>
            <input type="text" class="form-control"  [(ngModel)]="modelProducto.VentaDetalle" [ngModelOptions]="{standalone: true}" placeholder="Venta..." disabled>
          </div>
        </div>
    </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" (click)="modalRefProd.hide()">Cerrar</button>
          <button type="submit" class="btn btn-primary">Agregar Detalle</button>
      </div>
  </form>
</ng-template>